/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd 
*venv/
publisher_db/mysql_data/
*.sock
*.pid
*.cnf
/__pycache__/
*.log
*.sock
*/mysql_data/

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production build
dist/
build/

# Local env files
.env
.env.local
.env.*.local

# Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Optional lock files if you want to ignore them
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log

# Optional coverage (if you agregaste testing)
coverage/
